<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
  {{> reviews-form}}

  <!-- BUTTON -->
  <div style="display:flux; align-items:center; justify-content:center;">
    <button type="submit">Save Review</button>
   <!-- <button onclick={{goToHome}}>Cancel</button> -->
  </div>

</form>